* {box-sizing: border-box;}

/*body {   font-family: Arial, Helvetica, sans-serif;   margin: 0; } */

body {	 margin: 0;
	 line-height: 1.5;
	 font-family: "Poppins", Calibri, sans-serif;}

h2 { text-align: center;}

.header { padding: 10%; padding-left: 15%; text-align: left; color: black;}

/* font size of the heading */
.header h1 {   font-size: 80px; }
.header p { font-size: 80px;}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {   overflow: hidden;   background-color: #FFF;   position: sticky;   position: -webkit-sticky;   top: 0;}

/* Style the navigation bar links */
.navbar a {   float: left;   display: block;   color: black;   text-align: center;   font-weight: bold;   padding: 0px 0px;   text-decoration: none; }

/* Right-aligned link */
.navbar a.right {   float: right; }

/* Change color on hover */
/*.navbar a:hover {   background-color: #EEEEEE;   color: #0091ff; }*/

/* Active or current link */
.navbar a.active {   /*background-color: #666;   color: white;*/ }

.button {border: none; color: white;  padding: 16px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; transition-duration: 0.5s; cursor: pointer; font-family: "Poppins", Calibri, sans-serif;}

.navbutton {background-color: white; color: black; border-radius: 4px;}

.navbutton:hover {background-color: #0091ff; color: white; border-radius: 4px;}

.button1 {background-color: white; color: black; border: 0px solid #0091ff;}

.button1:hover {background-color: #0091ff; color: black;}

.button2 {background-color: #0091ff; color: white; border: 0px solid #0091ff; }

.button2:hover {background-color: white; color: #0091ff; border: 0px solid #0091ff;}

.navbutton {background-color: white; color: black; }

.navbutton:hover {background-color: #0091ff; color: white;}

.button1 {background-color: white; color: black; border: 2px solid #0091ff;}

.button1:hover {background-color: #0091ff; color: white;}

.button2 {background-color: #0091ff; color: white; border: 2px solid #0091ff;}

.button2:hover {background-color: white; color: black; border: 2px solid #0091ff;}

.calculator {padding: 20px;  background: rgba(255, 255, 255, .6);  }

.about {     background: rgba(255, 255, 255, .6);   padding: 20px; }  

.contact {   background: rgba(255, 255, 255, .6);   padding: 20px; }

.astimg { padding-left: 30%; text-align: center;}

.myImage { margin-right: 20%;}

.calcResults { margin-left: 20%;}

/* Footer */ 
.footer {   padding: 20px;   text-align: center;   background: rgba(2, 2, 2, .7);   color: white; }

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: auto;
    opacity: 0.75;
}

.content {
    position: relative;
    bottom: 0;
    width: 100%;
}

input[type=text], select {
    width: 100%;
    padding: 17px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.equation_parent{
    width: 100%;
    padding: 17px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.mathquillBackground {
    padding: 15px 40px;
    background-color: #FFFFFF;
    margin: 8px 0x;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.mqlLabel {
    font-size: 10pt;
    color: #6b6b6b;
}

input[type=submit] {
    width: 100%;
    background-color: #0091ff;
    font-weight: bold;
    font-size: 14pt;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: rgba(0, 145, 255, .75);
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {     float: none;     width: 100%;     padding: 7px 20px;    }
}


/*CODE FOR POPPINS FONT*/

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
