* {
    box-sizing: border-box;
}

html, body {
    overflow-y: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    -ms-overflow-style: none;
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

input[type=text] {
    //width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: blue;
    border: 3px solid #ffffff;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn.btn-border-1::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid #222222;
    border-bottom: 3px solid #222222;
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn.btn-border-1::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid #222222;
    border-right: 3px solid #222222;
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn.btn-border-1:hover {
    animation: pulse 1s ease-out .4s;
    color: red;
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.0);
    color: #ffffff;
    width: 100%;
    padding: 20px;
}

.header {
    padding: 20%;
    text-align: left;
    //background: #fff;
    color: black;
}

/* font size of the heading */
.header h1 {
    font-size: 80px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px 30px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #EEEEEE;
    color: black;
}

/* Active/current link */
.navbar a.active {
    /*background-color: #666;   color: white;*/
}

/* Column container */
/*.row {     display: -ms-flexbox; /* IE10 */
/*  display: flex;   -ms-flex-wrap: wrap; /* IE10 */
/*  flex-wrap: wrap; }  /* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
/*.side {   -ms-flex: 30%; /* IE10 */
/*  flex: 30%;   background-color: #f1f1f1;   padding: 20px; }*/
/* Main column */

.calculator {
    /*previously named as main */
    /*-ms-flex: 70%; /* IE10 */
    /*flex: 70%;*/
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.about {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.contact {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

/* put real img here  */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #222;
    color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 700px) {   .row {        flex-direction: column;   } }

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {

    .navbar a {
        float: none;
        width: 100%;
        padding: 7px 20px;
    }
}
